# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# gdb files
peda-session*
ft_nm_debug

#docs
Doc/elf(5) - Linux manual page.html
Doc/elf(5) - Linux manual page_fichiers/google-analytics_ga.js
Doc/elf(5) - Linux manual page_fichiers/style_002.css
Doc/elf(5) - Linux manual page_fichiers/style.css
Doc/elf(5) - Linux manual page_fichiers/TLPI-front-cover-vsmall.png
ft_nm_debug
test
ft_nm_debug
test_binaries/test
